[Oo]bj/
[Bb]in/
[Ll]og/
_ReSharper.*
packages/
artifacts/
*.user
*.suo
*.userprefs
*DS_Store
*.sln.ide

src/.vs/
src/watcher_dot_net.rb
src/NesZord.Core/specwatchr-usage.txt
src/dotnet.watchr.rb
src/green.png
src/red.png
src/sidekick.bat
src/sidekickapp.cs
src/stacktrace.txt
src/watchr.bat

tools/
